
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cau2</title>
</head>
<body>
    <div> 
        @using(Html.BeginForm("KetQua" , "Home"))
            {
        <table border="1" cellpadding="5" cellspacing="0">
            <tr>
                <td>@Html.Label("Mã sản phẩm")</td>
                <td>@Html.TextBox("MaSP")</td>
            </tr>
            <tr>
                <td>@Html.Label("Tên sản phẩm")</td>
                <td>@Html.TextBox("TenSP")</td>
            </tr>
            <tr>
                <td>@Html.Label("Loại sản phẩm")</td>
                <td>
                    @{
                        IEnumerable<string> list = new List<string> { "nông sản", "hải sản", "đồ uống" };
                    }
                    @Html.DropDownList("LoaiSP", new SelectList(list))
                </td>
            </tr>
            <tr>
                <td>@Html.Label("Số lượng")</td>
                <td>@Html.TextBox("SoLuong")</td>
            </tr>
            <tr>
                <td>@Html.Label("Đơn giá")</td>
                <td>@Html.TextBox("DonGia")</td>
            </tr>
            <tr>
                <td>@Html.Label("Thành tiền")</td>
                <td>@Html.TextBox("ThanhTien")</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <input type="submit" value="TÍNH"/>
                </td>
            </tr>
        </table>
            }
    </div>
</body>
</html>
